
@{
    ViewData["Title"] = "Register";
}
@model RegisterViewModel
<h1>Register</h1>

<form asp-controller="Home" asp-action="Register" method="post">
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
    </div>
    <button type="submit">Register</button>
</form>