
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" id="profile" asp-controller="Account" asp-action="UserInfo">个人信息</a></li>
    <li class="nav-item"><a class="nav-link" id="change-password" asp-controller="Account" asp-action="ForgotPassword">更改密码</a></li>

    <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link" href="#">External logins</a></li>

    <li class="nav-item"><a class="nav-link" id="two-factor" href="#">两步验证</a></li>
    <li class="nav-item"><a class="nav-link" id="personal-data" href="#">隐私信息</a></li>
</ul>